:host {
  display: block;
  border-radius: 5px;
  padding: 16px;
  width: 260px;
  min-height: 260px;
  background: #171d21;
  color: #ffffff;
  margin: auto;

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .skill-id, input, .skill-controls {
    width: 240px;
    margin-bottom: 4px;
  }

  .skill-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .skill-box {
    margin-top: 12px;
    .skills-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  input {
    padding: 8px;
    height: 30px;
    margin-bottom: 4px;
  }

  button {
    height: 30px;
  }

  .skill {
    padding: 6px;
    display: flex;
    align-items: center;
    border: 1px solid #f8ff18;
    border-radius: 5px;
    +.skill {
      margin-top: 8px;
    }
    .skill-name {
      flex: 1;
    }
    img {
      margin-right: 4px;
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
    }
  }
}
