<div class="card-title">Управление сотрудником</div>
<div class="employee-info">
  <div class="employee-id"></div>
  <input [(ngModel)]="employee.name" placeholder="Имя Сотрудника"/>
  <div class="employee-controls">
    <button (click)="goBack()">Назад</button>
    <button (click)="save()">Сохранить</button>
  </div>
</div>
<div class="skill-box">
  <div class="skills-title">Навыки сотруника</div>
    <div class="skill" *ngFor="let skill of skills" (click)="changeEmployeeSkill(skill.id)">
      <img src="assets/icons/done.svg" *ngIf="employeeHasSkillIds.includes(skill.id); else noSkill">
      <ng-template #noSkill><img class="square-img" src="assets/icons/icon_warning_red.svg"></ng-template>
      <div class="employee-name"> {{skill.name}}</div>
    </div>
</div>
