:host {
  box-sizing: border-box;
  background-color: #22282b;
  height: 100%;
  padding: 20px;
  display: block;
  flex: 1;
}

.wrapper {
  min-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

app-crm-sidebar {
  margin-right: 24px;
}

app-crm-header {
  margin-bottom: 24px;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;

  .content-container {
    flex: 1;
    overflow: hidden;
  }
}
